/*----------全局属性----------*/
* {margin: 0px;}

html, body {height: 100%;font-family: 微软雅黑;min-width: 1345px;}

/*----------右侧固定定位联系方式，父元素----------*/
#cebianlan-you {position: relative;width: 4%;height: 30%;position: fixed;left: 95.5%;top: 65%;
z-index: 2;}

/*侧边栏子元素*/
.cldx {width: 100%;height: 25%;background-color: rgba(#ccc4c7, 0.5);margin-top: 10%;
border-radius: 10px;background-size: 70%;background-position: center;
box-shadow: 2px 2px 12px #000000;position: relative;}

.cldx:hover{background-color: #ccc4c7;}

.cldx{background-repeat: no-repeat;}
.cldx1{background-image: url(../png/41.png);}
.cldx2{background-image: url(../png/10.png);}
.cldx3{background-image: url(../png/1.png);}
.cldx4{background-image: url(../png/14.png);}
/*隐藏框*/
.denglu{position: absolute;width: 350%;background-color: #e5f1f4;
left: -366%;display: none;border-radius: 5px;}


/*下载APP二维码图片大小*/
.ewm{width: 85%;height: 85%;margin-left: 7%;}

/*隐藏框高度以及位置*/
.dl1,.dl4{height: 120%;top: -3%;}
.dl2{height: 200%;top: -45%;}
.dl3{height: 300%;top: -80%;}
/*三角提示图形*/
.sanjiao{width: 0px;height: 0px;color: #e5f1f4;border-top: 5px solid transparent;
border-left: 10px solid #e5f1f4;border-bottom: 5px solid transparent;position: absolute;
left: -20%;top: 45%;display: none;}


/*鼠标经过时显示三角以及隐藏框*/
.cldx1:hover .sj1,.cldx2:hover .sj2,.cldx3:hover .sj3,.cldx4:hover .sj4{display: block;}
.cldx1:hover .denglu,.cldx2:hover .denglu,.cldx3:hover .denglu,.cldx4:hover .denglu{display: block;}

/*登录，免费注册*/
.an{display: inline-block;position: absolute;width: 60%;height: 40%;margin-left: 20%;}
.an1{top: 5%;}
.an2{top: 55%;}

/*----------LOGO与导航栏层----------*/
#hezi1 {width: 100%;height: 20%;position: relative;cursor: default;
background-color: rgba(217, 217, 217, 0.5);}

.logo {width: 30%;height: 100%;}


.qsmy {width: 80%;height: 90%;margin-top: 2%;}

/*logo图片尺寸*/
.dhl {width: 60%;height: 35%;position: absolute;top: 65%;left: 35%;}

/*隐藏的导航栏*/
#ycdh {width: 30.2%;height: 500%;position: absolute;left: 45%;top: 100%;
display: none;z-index: 2;}

/*导航栏*/
.ab2, .ab3, .ab4, .ab5{margin-left: -0.5%;}

.yc {height: 25%;text-align: center;line-height: 60px;background-color: #e6e6e6;}

.ab {width: 15%;height: 100%;display: inline-block;text-align: center;line-height: 40px;
transition: all .5s;}


/*导航栏选项*/
.ab5:hover #ycdh{animation: i .1s linear;display: block;}

.ab:hover, .yc:hover{background-color: #f72b2b;}

.ab:hover{border-radius: 5px;}

/*隐藏的导航栏显示动画*/
@keyframes i {
  from {
    top: 130%;
  }

  to {
    top: 100%;
  }
}


/*----------轮播图----------*/
#hezi2 {width: 100%;height: 80%;position: relative;margin-top: 0%;}

.tp {width: 100%;height: 100%;position: absolute;}

#tp2, #tp3, #tp4, #tp5{display: none;}

.ul1 {width: 10%;position: absolute;top: 94.5%;left: 44%;color: #c8c2c2;cursor: pointer;}

/*轮播图小圆点*/
#li1 {color: #ff0000;}

.ul1 li {display: inline-block;font-size: 20px;margin-right: 1%;}

@keyframes dong1 {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1.0;
  }
}


/*----------秦1~6资源----------*/
#hezi3 {width: 90%;height: 50%;margin: auto;position: relative;top: 3%;}

.mfzy {text-align: center;font-size: 20px;}

.zy {width: 15%;height: 80%;display: inline-block;overflow: hidden;margin-top: 1%;}

.qsmy1 {width: 100%;height: 100%;transition: all .5s;}

.qsmy1:hover {transform: scale(1.1, 1.1);}

.zy:hover .wz {color: #ff0000;}

.bbfj,.yjtm, .zzbj, .wlcc, .jltx, .chhl {margin-left: 1.1%;}

.wz {display: block;position: absolute;top: 92%;}


/*----------番外篇----------*/
/*继承1~6资源样式*/
#hezi4 {width: 90%;height: 50%;margin: auto;position: relative;top: 8%;}


/*----------新闻区---------*/
#hezi5{position: relative;width: 100%;height: 50%;margin-top: 6%;background-color: #ccc4c7;}
.redian{text-align: center;font-size: 20px;}