/*全局属性*/
*{
    margin: 0%;
    font-family: 微软雅黑;
}

a{
    text-decoration: none;
}
html,body{
     height:100%;min-width: 1349px;min-height: 668px;;
}
/*---------------第一页---------------*/
#hezi1{
    width: 100%;height: 100%;background-image: url("img/1.jpg");background-size: 100% 100%;
    position: relative;
}

.logo{
    width: 100%;height: 5%;background-color:#ffffff;position: relative;
}

/*logo图片*/
.ylxz{
    width: 10%;height: 100%;background-image: url("img/3.png");background-size: 100% 100%;
    position: absolute;left: 12%;
}

/*登录注册*/
.denglu{
    width: 5.5%;height: 100%;position: absolute;left: 80%;top:30%;

}

/*半透明导航*/
.daohang{
    width: 100%;height: 9%;background-color: rgba(88, 88, 88,0.2);color: beige;
    position: relative;
}

/*鼠标经过导航背景透明度*/
.daohang:hover{background-color: rgba(88, 88, 88,0.4);}

/*导航栏盒子*/
.dhhz{
    width: 45%;height: 70%;position: relative;left: 30%;top: 10%;
}

.xuanxiang{
    display: inline-block;margin: 2% 4%;position: relative;
}
/*更多选项右侧下箭头*/
.xx5 span{
    font-size: 10px;
}

/*隐藏的导航*/
.ycdh{
    position: absolute;width: 400%;height: 200px;border: 0px solid;
    left: -170%;top: 100%;display: none;z-index: 2;
}

.yc{
    width: 100%;height: 25%;text-align: center;line-height: 300%;
    background-color: rgba(88, 88, 88,0.7);position: relative;
    transition:all .2s linear; 
}
.yc:hover{background-color: #f71b4b;height: 27%;}

/*隐藏导航显示动画*/
.xx5:hover .ycdh{
    display: block;
}
.xx5:hover div[class*="yc1"],div[class*="yc3"]{
    animation:i .2s linear;
}
.xx5:hover div[class*="yc2"],div[class*="yc4"]{
    animation:s .2s linear;
}

@keyframes i{
    from {left: -70%}
    to {left: 0%;}
}

@keyframes s{
    from {left: 70%;}
    to {left: 0%;}
}

/*导航鼠标经过文字颜色设置*/
.xuanxiang a{color: #ffffff;}
.xuanxiang a:hover{color: aqua;}

/*文字盒子*/
.wzhz{
    width: 100%;height: 60%;position: relative;
}

/*文字*/
.h3,.h1,.h2{
   font-family: Consolas;text-align: center;line-height: 170%;
}

.h3{
    color: #ffffff;margin-top: 12%;
}
.h1{
    color: #f71b4b;
}
.h2{
    color: #ffffff; 
}

/*底层两个图文盒子*/
.tuwen{
    width: 30%;height: 20%;display: inline-block;
    position: absolute;margin-top: -13%;
}
.tuwen1{
    left: 17%;  /*左图文块位置--天明*/
}


/*左图文块*/
.tw1,.tw2{
    display: inline-block;position: absolute;
}   
.tw2 span{
    display: block;
}
.tw1{
    width: 20%;height: 100%;background-color: #f71b4b;
}
.tw2{
    width: 80%;height: 100%;background-color: #ffffff;left: 20%;
}

/*链接图标*/
.wz1{
    font-size: 15px;margin: 10% 0 0 10%;
}
.lj{
    width: 60%;height: 40%;position: absolute;left: 20%;top: 28%;background-size: 100% 100%;
}
.lj1{
    background-image: url("img/5.png");
}


/*包含了头像和两个文字块*/
.wz2{
    font-size: 30px;margin: 0% 0 0 9%;
}
.wz3{
    width: 50%;height: 100%;position: absolute;left: 40%;top: 0%;
}
.touxiang{
    width: 50px;height: 50px;position: absolute;top: 33%;border-radius: 25px;
    background-image: url("img/4.jpeg");background-size: 100% 100%;
}
.tianming{
    position: absolute;top: 33%;left: 35%;
}


/*右图文块*/
.tuwen2{
    right: 17%;    /*右图文块位置*/
}

.lj2{
    background-image: url("img/9.png");
}

.tp{
    width: 34%;height: 100%;background-size: 100% 100%;position: absolute;

}
.tp1{
    background-image: url("img/7.jpeg");
}
.tp2{
    left: 34%;background-image: url("img/6.jpg");
}

.tp3{
    left:68%;background-image: url("img/8.jpeg");
}

/*图片的透明遮挡*/
.tmzl{
    width: 100%;height: 100%;position: relative;display: none;
    background-color: rgba(233, 229, 230, 0.8);
}
.tmzl span{
 /*时装定制文字颜色及定位*/
    color: #000000;position: absolute;top: 40%;left: 20%;
}
/*透明遮挡鼠标经过显示及调用动画*/
.tp1:hover .tmzl,.tp2:hover .tmzl,.tp3:hover .tmzl{
    display: block;animation:jianxian .2s linear;
}

@keyframes jianxian{
    from {background-color: rgba(233, 229, 230, 0.3);}
    to {background-color: rgba(233, 229, 230, 0.8);}
}

